#main-footer {
    position: sticky;
    bottom: 0;

    z-index: 2;

    font-size: 1rem; 
    padding: 1rem var(--padding-x-container);

    display: flex;
    align-items: center;

    background-color: var(--secondary-bg-color);
    height: var(--footer-height);
    max-height: var(--footer-height);

    .wrapper {
        width: clamp(12.5rem, 100%, var(--max-w-container));
        margin-inline: auto;

        nav ul {
            display: flex;
            gap: .5rem;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .5rem;
            }

            a {
                color: var(--secondary-text-color-2);

                &:hover {
                    color: var(--secondary-text-color-1);
                }
            }

            span, a {
                font-size: 1rem;
            }
        }
    }
}

#go-up-button {
    --pseudo-margin: 0.625rem;

    position: absolute;
    bottom: calc(var(--pseudo-margin) + 2.5rem * 1.5);
    right: 1.25rem;

    display: grid;
    place-content: center;

    cursor: pointer;

    color: var(--secondary-text-color-1);

    i {
        font-size: 2.5rem;
    }
}