#main-header {
    font-size: 1rem;

    i {
        cursor: pointer;
    }

    .wrapper {
        display: flex;
        flex-direction: column;

        nav {
            display: flex;
            justify-content: center;
            align-items: center;

            &:first-child {
                padding: 0 var(--padding-x-container);

                ul {
                    max-width: var(--max-w-container);
                    width: 100%;
                }
            }

            &:last-child {
                div {
                    display: flex;
                    flex-grow: 1;
                    justify-content: space-between;
                    align-items: center;

                    max-width: var(--max-w-container);
                    margin: 1rem var(--padding-x-container);
                }

                label {
                    display: none;
                }

                ul {
                    li {
                        a {
                            color: var(--text-disabled-nav-color);

                            &:hover {
                                color: var(--secondary-text-color-1);
                            }
                        }

                        &:first-child a {
                            color: var(--secondary-text-color-1);
                        }
                    }
                }
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0;

            gap: 4rem;
        }
    }
}