:root {
    --secondary-text-color-1: rgb(216, 86, 0);
    --secondary-text-color-2: white;
    --secondary-bg-color: rgb(18, 21, 32);

    --primary-text-color: rgb(12, 12, 12);
    --primary-bg-color: white;

    --p-color: rgb(97, 97, 97);

    --text-disabled-nav-color: rgb(171, 171, 171);

    --min-w-container: 12.5rem;
    --max-w-container: clamp(var(--min-w-container), 100%, 68.75rem);
    --padding-x-container: 5%;

    --footer-height: 3.125rem;
}