@media (width <= 48rem) {
    #main-header nav {
        &:first-child ul {
            li i {
                font-size: 1.8rem;
            }
            span {
                display: none;
            }
        }
    }
}

@media (width <= 36rem) {
    #main-header {
        z-index: 2;
        position: relative;

        nav {

            ul {
                gap: 2em;
            }

            &:last-child {
                .wrapper {
                    display: flex;
                }
                label {
                    display: flex;
                    align-self: center;
                    padding: 0;
                }
                ul li {
                    text-align: center;
                    border-bottom: 0.125rem solid var(--text-disabled-nav-color);
                    width: 100%;
                    padding-bottom: 0.9375rem;
                }
            }
        }

        input#mobile-main-header {
            &+ ul {
                will-change: transform;
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background-color: var(--primary-bg-color);
                padding: var(--padding-x-container);
                color: var(--text-disabled-nav-color);
                z-index: -1;
                transform: translateY(-100%);
                -webkit-transform: translateY(-100%);
                -moz-transform: translateY(-100%);
                -ms-transform: translateY(-100%);
                -o-transform: translateY(-100%);
                transition: transform 300ms;
                -webkit-transition: transform 300ms;
                -moz-transition: transform 300ms;
                -ms-transition: transform 300ms;
                -o-transition: transform 300ms;
            }

            &:not(:checked) + ul {
                transform: translateY(0);
            }
        }
    }
}