@media (width <= 60.0625rem) {
    #main-header {
        --icon-size: 1.8rem;
        position: relative;
        height: var(--max-height-mobile-main-header);
        max-height: var(--max-height-mobile-main-header);

        .wrapper nav {

            ul {
                gap: 2em;
            }

            &:first-child ul {

                li {
                    i {
                        font-size: var(--icon-size);
                    }
                }

                span {
                    display: none;
                }
            }

            &:last-child {
                label {
                    display: flex;
                    justify-content: flex-end;
                    align-self: center;
                    margin-right: var(--padding-x-container);
                    padding: 0;
                }

                ul li {
                    text-align: center;
                    border-bottom: 0.125rem solid var(--text-disabled-nav-color);
                    width: 100%;
                    padding-bottom: 0.9375rem;
                }
            }
        }

        input#mobile-main-header {
            &+ ul {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: var(--max-height-mobile-main-header);
                left: 0;
                width: 100%;

                background-color: var(--primary-bg-color);
                padding: var(--padding-x-container);

                color: var(--text-disabled-nav-color);

                z-index: 9999;
            }

            &:not(:checked) + ul {
                display: none;
            }
        }
    }
}