@media (width <= 36rem) {
    #our-services .wrapper .content li .service {
        border-left-width: 0;
        border-bottom-width: 0.0625rem;

        border-left-color: transparent;

        padding-left: 0;
        padding-bottom: 1.5rem;
    }
}
