#about-us {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4rem var(--padding-x-container);
    font-size: 1rem;

    .wrapper {
        width: var(--max-w-container);

        .content {
            position: relative;
            display: grid;
            gap: 3rem;
            grid-template-columns: repeat(auto-fit, minmax(var(--min-w-container), 1fr));
        
            &> div {
                display: grid;
                place-items: center;
                position: relative;

                &::before {
                    position: absolute;
                    content: '';

                    outline: 0.1875rem solid var(--secondary-text-color-1);
                    width: 100%;
                    height: 100%;
                    z-index: 1;

                    transition-property: transform;
                    transition-duration: 300ms;
                    transition-timing-function: ease;

                    transform:rotateZ(10deg);
                    -webkit-transform:rotateZ(10deg);
                    -moz-transform:rotateZ(10deg);
                    -ms-transform:rotateZ(10deg);
                    -o-transform:rotateZ(10deg);
                }

                &:hover::before {
                    transform:rotateZ(0deg);
                    -webkit-transform:rotateZ(0deg);
                    -moz-transform:rotateZ(0deg);
                    -ms-transform:rotateZ(0deg);
                    -o-transform:rotateZ(0deg);
                }

                img {
                    display: block;
                    position: relative;
                    z-index: 1;

                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            &> section {
                display: flex;
                flex-direction: column;
                gap: .7rem;

                h3 {
                    font-weight: bold;
                    font-size: 1.1rem;
                }

                h4 {
                    font-size: .9rem;
                    font-weight: lighter;
                }

                p {
                    font-size: .9rem;
                }
            }

            button {
                margin-top: 1rem;
            }
        }  
    }

    h2 {
        text-align: center;
        width: fit-content;

        margin: 0 auto 2rem auto;

        position: relative;

        font: 400 normal 2rem "Sofadi One", system-ui
    }
}