#main-hero {
    background-image: url(../../img/fondo.jpg);
    background-blend-mode: multiply;
    background-color: rgb(84, 84, 84);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 42.1875rem;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--padding-x-container);

    font-size: 1rem;

    position: relative;

    .wrapper {
        display: grid;
        gap: 1em;
        width: var(--max-w-container);
        z-index: 1;

        h1 {
            font: 400 normal 2rem "Sofadi One", system-ui
        }

        h2 {
            font-size: 1.7rem;
            font-weight: lighter;
        }

        p {
            font-size: 1.1rem;
            font-weight: lighter;

            margin: 20px 0;
        }
    }

    .social-media {
        font-size: 2rem;
        display: flex;
        gap: 1rem;

        cursor: pointer;
    }
}