#our-services {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;

    padding: 2em var(--padding-x-container);

    .wrapper {
        max-width: var(--max-w-container);
        width: var(--max-w-container);

        h2 {
            text-align: center;
            width: fit-content;

            margin: 0 auto 2em auto;

            position: relative;

            font: 400 normal 2em "Sofadi One", system-ui
        }

        .content {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(14.0625rem, 1fr));

            gap: 3em;
        }
    }

    .service {
        display: grid;
        gap: .5em;

        border-left: 0.0625rem solid var(--p-color);
        padding-left: 1.5em;

        &> i {
            border: 0.0625rem solid var(--secondary-text-color-1);
            padding: .5em;
            width: fit-content;
            font-size: 1.2rem;
            color: var(--secondary-text-color-1);

            color: var(--secondary-text-color-1);
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1.1rem;
        }

        p {
            font-size: .9rem;
        }

        a, a + i {
            font-size: .9rem;
            color: var(--secondary-text-color-1);
            font-weight: bold;
        }
    }
}